/* Stylesheet for the Feed component. */

#feed-header {
    background-color: white;  /* TODO: allows header to be solid, will probably replace later */
    display: flex;
    position: sticky;
    top: 0;
}

#profile-container {
    margin: 10px;
}

#profile {
    width: 50px;
    border-radius: 50%;
}

#post-button {
    height: 20px;
    margin: auto 0;  /* vertical align center */
}

#feed-container {
    width: 46%;
    min-width: 600px;
}
