/* Stylesheet for the Timeline page. */

#timeline {
    display: flex;
}

#logo {
    width: 100px;
    margin-left: 105px;
}

#symbol {
    width: 50px;
    border-radius: 50%;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 0px;
    display:inline-block;

}

.side-container {
    display: block;
    background-color: #568c4a;
    width: 27%;
    position: sticky;
    top: 0;
    height: 100vh;
}

.side-container button {
    position:relative;
    width: 200px;
    height:50px;
    display: block;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 20px;
    background-color:#8cc63f;
    border: 4px #33522c solid;
    border-radius: 0;
    font-family: "American Typewriter", serif;
    font-size: 1.5em;
    color: #282c34;
}

.side-container button img {
    position: absolute;
    top: 0px;
    left: -225px;
}

#profile-link {
    width: 0;
    display: block;
    text-decoration: none;
}

#signout-link {
    width: 0;
    display: block;
    text-decoration: none;
}
