#admin-post-table table, #admin-post-table table th, #admin-post-table table td {
    border: 1px solid black;
    border-collapse: collapse;
    background: white;
}

#admin-post-table th, #admin-post-table td {
  padding: 10px;
}

#admin tr:nth-child(even) {
  background-color: #dddddd;
}

#admin-post-table button {
  background-color:  #33522c;
  color: white;
  padding: 10%;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

#admin-post-table #post-table-search {
  background-color: #dddddd;
  font-size: 2pc;
}

#adminPostTable {
  width: 100%;
}