.profilePic{
    width:40px;
    float:left;
    margin-left:10px;
    border-radius: 50%;
}

.save{
    float:right;
    margin-right:10px;
    margin-top:5px;
    height:30px;
    margin-bottom:20px;
    background-color:#8cc63f;
    border: 4px #33522c solid;
    border-radius: 0;
    font-family: "American Typewriter", serif;
    font-size: 1em;
    color: #282c34;

}

.username{
    float: left;
    margin-left: 20px;
}

.block{
    display: block;
}

.link {
    margin-left:120px;
    height:30px;
    margin-bottom:20px;
    border: 4px #33522c solid;
    border-radius: 0;
    font-family: "Lucida Console";
    font-size: 0.9em;
    background: #dfb74f none;
    cursor: pointer;
}

.green {
    color: #568c4a;
}

.red {
    color: #cc000e;
}

.nonLike{
    float:right;
    margin-right:20px;
    width: 80px;
    height:30px;
    margin-bottom:20px;
    background-color:#dfb74f;
    border: 4px #33522c solid;
    border-radius: 0;
    font-family: "Lucida Console";
    font-size: 0.9em;
    color: #282c34;
}

.delete{
    float:right;
    margin-right:20px;
    margin-bottom:20px;
    width: 80px;
    height:30px;
    background-color:#dfb74f;
    border: 4px #33522c solid;
    border-radius: 0;
    font-family: "Lucida Console";
    font-size: 0.9em;
}

.reviews-container .ReactCollapse--collapse {
    transition: height 500ms;  /* hide/show animation */
}

.reviews-container .ReactCollapse--content {
    overflow: hidden;  /* this somehow stops the weird height click after transitions */
}
