#admin-table table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background: white;
  }
  th, td {
    padding: 15px;
  }

  #admin tr:nth-child(even) {
    background-color: #dddddd;
  }

  #admin-table {
    display: inline-block;
    margin: 0 auto;
  
  }