#admin-table table, #admin-table  th, #admin-table  td {
    border: 1px solid black;
    border-collapse: collapse;
    background: white;
}

#admin-table th, #admin-table td {
  padding: 15px;
}

#admin tr:nth-child(even) {
  background-color: #dddddd;
}

#admin-table {
  display: inline-block;
  margin: 0 auto;

  
}

#admin-table button, .add{
  background-color:  #33522c;
  color: white;
  padding: 4%;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

#admin-table .save, .edit, .delete_admin {
  margin-bottom: 0.5pc
}

#admin-table .add {
  height: 5%;
}

#admin-table #admin-search {
  background-color: #dddddd;
  font-size: 2pc;
}

#adminTable {
  width: 100%;
}