/* Styles for the SignUpForm React component */

.logIn-form {
  justify-content: center;
  direction:"column";
  alignItems:"center";
}

.MuiButton-root.logIn-form__submit-button {
  background-color: #457474;
}

.logIn-form__button-grid {
  line-height: 5;
   justify-content: center;
  direction:"column";
  alignItems:"center";
}

.logIn_button-link {
  text-decoration: none;
}