/* Styles for the Recipe component. */

.recipe-container p {
    margin-bottom: 0;
}

.recipe-container h1 {
    margin: auto;
}

.recipe-container .ReactCollapse--collapse {
    transition: height 500ms;  /* hide/show animation */
}

.recipe-container .ReactCollapse--content {
    overflow: hidden;  /* this somehow stops the weird height click after transitions */
}
